#intellij
.idea

tomcat.*

target
generated-sources
generated-test-sources
dependency-reduced-pom.xml
MANIFEST.MF
maven-archiver
maven-status
argus-core-1.2.0.jar
original-argus-core-1.2.0.jar
surefire-reports

#netbeans
nbactions.xml

# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
