vokter-core/src/main/java/vokter/stemmer/snowball/* linguist-vendored
vokter-core/src/main/java/vokter/stemmer/diff/DiffMatchPatch.java linguist-vendored
vokter-stemmers/* linguist-vendored
vokter-stopwords/* linguist-vendored
vokter-core/src/test/resources/* linguist-vendored
vokter-readers/src/test/resources/* linguist-vendored
